html, body{
    margin: 0;
    padding: 0;
    background-color: #DDD;
    position: relative;
    height: 100%;
    width: 100%;
    font-family: helvetica, arial;
}
#container{
    position: relative;
    height: 100%;
}
#slide{
    position: relative;
    max-height: 80%;
    width: 100%;
    margin-bottom: -3em;
    overflow: hidden;
}
#slider-images{
    position: relative;
    width: 100%;
}
#slider-images img{
    position: absolute;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s ease;
    transition-delay: visibility 0s;
}
#slider-images img.active{
    position: relative;
    visibility: visible;
    opacity: 1;
    transition-delay: visibility 1s;
}
#slider-info{
    position: absolute;
    top:1em;
    right: 1em;
    background-color: #2A9D4A;
    border-radius: 1em;
    width: 40em;
    width: 34em;
    height: 7em;
    overflow: hidden;
}
#slider-info > .left,#slider-info > .right{
    position: absolute;
    top:0;
    bottom:0;
    width: 5em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
#slider-info > .left{
    left: 0;
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWw6c3BhY2U9InByZXNlcnZlIiB3aWR0aD0iMTAwbW0iIGhlaWdodD0iMTAwbW0iIHN0eWxlPSJzaGFwZS1yZW5kZXJpbmc6Z2VvbWV0cmljUHJlY2lzaW9uOyB0ZXh0LXJlbmRlcmluZzpnZW9tZXRyaWNQcmVjaXNpb247IGltYWdlLXJlbmRlcmluZzpvcHRpbWl6ZVF1YWxpdHk7IGZpbGwtcnVsZTpldmVub2RkOyBjbGlwLXJ1bGU6ZXZlbm9kZCIgdmlld0JveD0iMCAwIDEgMiIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+LmZ7ZmlsbDp3aGl0ZX08L3N0eWxlPjwvZGVmcz48Zz48cG9seWdvbiBjbGFzcz0iZiIgcG9pbnRzPSIxLDAgMSwyIDAsMSIvPjwvZz48L3N2Zz4=");
}
#slider-info > .right{
    right: 0;
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWw6c3BhY2U9InByZXNlcnZlIiB3aWR0aD0iMTAwbW0iIGhlaWdodD0iMTAwbW0iIHN0eWxlPSJzaGFwZS1yZW5kZXJpbmc6Z2VvbWV0cmljUHJlY2lzaW9uOyB0ZXh0LXJlbmRlcmluZzpnZW9tZXRyaWNQcmVjaXNpb247IGltYWdlLXJlbmRlcmluZzpvcHRpbWl6ZVF1YWxpdHk7IGZpbGwtcnVsZTpldmVub2RkOyBjbGlwLXJ1bGU6ZXZlbm9kZCIgdmlld0JveD0iMCAwIDEgMiIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+LmZ7ZmlsbDp3aGl0ZX08L3N0eWxlPjwvZGVmcz48Zz48cG9seWdvbiBjbGFzcz0iZiIgcG9pbnRzPSIwLDAgMCwyIDEsMSIvPjwvZz48L3N2Zz4=");
}
#slider-info > .texts{
    position: absolute;
    left:0px;
    right: 0px;
    margin: 0 5em;
    margin: 0 2em;
    height: 100%;
}
#slider-info .texts .info-box{
    display: none;
    position: absolute;
    height: 100%;
    transition: transform 1s ease;
    color: #FFF;
    /*text-shadow: 1px 1px #333;*/
    text-align: left;
}
#slider-info .texts .info-box.vissible{
    display: block;
}
#slider-info .texts .info-box.left{
    transform: translate(-150%, 0);
}
#slider-info .texts .info-box.right{
    transform: translate(-150%, 0);
}
#slider-info .texts .info-box h2{
    margin: 0.5em 2em;
}
#slider-info .texts .info-box p{
    margin: 0.2em 0;
}

main{
    position: relative;
    width: 100%;
    margin: auto;
}
.card{
    font-family: helvetica, arial;
    margin: auto;
    min-width: 28em;
    max-width: 40em;
    padding: 1em 2em;
    /*border: solid #DDD 7px;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.5);*/
    
    /*width: 44%;
    float: left;*/
}
.card .container {
    background-color: #FFF;
}
.card.voting{
    background-color: #FFF;
    position: relative;
}
.r-btn{
    display:inline-block;
    width:1em;
    height:1em;
    border-radius:1em;
    background-color:white;
    border: solid 1px #B99;
}
.styrelse-medlem {
    display: inline-block;
    vertical-align: top;
    margin: 2em 1em;
}
.styrelse-medlem > div {
    height: 10em;
    width: 10em;
    border-radius: 5em;
    background-size: cover;
    background-position: center;
}
.styrelse-medlem > p {
    margin: 0;
    padding: 0;
}
.radio-choice input{
    display:none;
}
.radio-choice input:checked + label .r-btn{
    background-color: #B99;
    transition: background 0.2s ease;
}
#heading{
    display: none;
}
.about_text {
    color:#272727;
}

/**Food**/
h2.food{ background-color: #FCC}
#food-container{ background-color: #FFF; padding: 2em 0; }
#food-container .day{ max-width: 30em; margin: auto; }
#food-container .day .info{ display: inline-block; width: 100%; }
#food-container .day .info span{ float: right }
#food-container .day .info .day{ float: left }
#food-container .day .info .date{ }
#food-container .day .info .month{ margin-right: 1em }
#food-container .day .meals{ display: table; padding-left: 2em; }
#food-container .day .meals .meal{ display: table-row }
#food-container .day .meals .meal span{ display: table-cell }
#food-container .day .meals .meal .name{ }
#food-container .day .meals .meal .description{ }

#ig-container ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
#ig-container .ig-frame-container{
    width: 33%;
    overflow: hidden;
    float: left;
    display: block;
}
#ig-container .ig-frame{
    padding: 1em;
    display: block;
    position: relative;
}
#ig-container .ig-frame img{ max-width: 100% }
#ig-container .ig-frame .ig-info{
    position: absolute;
    bottom: 0;
    padding-right: 1em;
    opacity: 0;
}
#ig-container .ig-frame:hover .ig-info{
    opacity: 1;
}
#ig-container .ig-frame .ig-info .description{}
#ig-container .ig-frame .ig-info .ig-social{ display: none }
#ig-container .ig-frame .ig-info .ig-social .ig-likes{}
#ig-container .ig-frame .ig-info .ig-social .ig-comments{}



@media screen and (max-width:32em), screen and (min-width:98em){
    .card{
        padding: 0;
    }
    .card.post{
        min-width: 20em;
        border-bottom: solid 2px #BBB;
    }
}
@media screen and (min-width:98em){
    #content{
        padding: 0 5em;
    }
    main{
        max-width: 90em;
        margin-top: 1em;
    }
    #heading{
        display: block;
        margin: 0;
        background-color: #FFF;
    }
    
    .card.post{
        float:left;
    }
    #external{
        float: right;
    }
}
@media screen and (max-width:32em){
    .card.post.before-voting{
        border-bottom: none;
    }
}

.card .info .img-container{
    position: relative;
    width: 5em;
    height: 5em;
    border-radius: 5em;
    overflow: hidden;
    margin: 1em;
    float: left;
}
.img-container img{
    height: 100%;
}
.card h1, .card h2{
    margin: 0;
}
.card h2{
    padding: 1em 0 0 0;
}
.info span {
    display: block;
}
.info p{
    color: grey;
    font-size: 0.7em;
}
.info p span{
    color: black;
    font-size: 1.5em;
    margin-left: 0.5em;
}
summary{
    padding: 0 1em 1em 1em;
    display: block;
}



#side-menu {
    position: fixed;
    margin: 0;
    padding: 0;
    background: #9D1B1B;
    height: 100%;
    z-index: 200;
    font-family: sans-serif;
    z-index: 99;
}
/*Styling what ever the logo is. Could be img or txt*/
#side-menu > img:first-child {
    width: inherit;
    height: auto;
    margin-bottom: 0em;
}
#side-menu > ul {
    padding: 0px;
    margin-top: 0;
}
#side-menu > ul > li{
    list-style: none;
}
#side-menu > ul > li > a {
    color: inherit;
    text-decoration: none;
    color: #f0f0f0;
    padding-bottom: 1em;
    margin-bottom: 0em;
    padding-top: 1em;
    padding-left: 3em;
    border-bottom-style: solid;
    border-bottom-color: #8d1616;
    border-width: 1px;
    border-top-color: #b52525;
    border-top-style: solid;
    background-image: url("https://s3.amazonaws.com/media-p.slid.es/uploads/billymeinke/images/71162/icon_gift_white.png");
    background-size: 1em;
    background-repeat: no-repeat;
    display: block;
    background-position: center left 1.2em;
}
#menu {
    font-family: sans-serif;
    height: 3em;
    width: 100%;
    display: none;
    background: #9D1B1B;
    position: fixed;
    text-align: center;
    min-width: 13em;
    z-index: 99;
}
#menu-hamburger {
    height: 1.4em;
    width: 1.5em;
    position: absolute;
    top: 50%;
    margin-left: 0.8em;
    transform: translateY(-50%);
}
#menu-hamburger > div {
    height: 0.2em;
    width: 100%;
    background: #720000;
}
#menu-hamburger > div:nth-child(2){
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
} 
#menu-hamburger > div:nth-child(3){
    position: absolute;
    bottom: 0;
}
#menu > span {
    position: absolute;
    top: 50%;
    color: white;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
}

/***Side-menu style when thin***/
#side-menu{
    display: block;
    width: 5em;
    /*Temporary solution*/
    overflow: hidden;
}
#container{
    margin-left: 5em;
}

/***Side-menu style when wide***/
@media screen and (min-width:54em) and (max-width:98em),screen and (min-width:105em){
    #side-menu{
        display: block;
        width: 13em;
    }
    #container{
        margin-left: 13em;
    }
}

@media screen and (max-width:43em){
    #menu{
        display: block;
    }
    #side-menu{
        display: none;
    }
    #container{
        margin-left: 0;
    }
}


#about_body{
    text-align: center;
}
#about_body > img {
    height: 30em;
}
#about_body > #styrelsen {
    max-width: 50em;
    display: inline-block;
}