body{
    margin: 0;
    background-color: #DDD;
}
#slide{
    position: relative;
    height: 27em;
    width: 100%;
    margin-bottom: -3em;
    overflow: hidden;
}
.slide {
    height: inherit;
    width: inherit;
    background-size: cover;
    background-position: center;
    display: inline-block;
    float: left;
}
.slide > h1 {
    margin: 0;
}
main{
    position: relative;
    width: 100%;
    margin: auto;
}
.card{
    font-family: helvetica, arial;
    margin: auto;
    min-width: 28em;
    max-width: 40em;
    padding: 1em 2em;
    /*border: solid #DDD 7px;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.5);*/
    
    /*width: 44%;
    float: left;*/
}
.card .container {
    background-color: #FFF;
}
.card.voting{
    background-color: #FFF;
    position: relative;
}
.r-btn{
    display:inline-block;
    width:1em;
    height:1em;
    border-radius:1em;
    background-color:white;
    border: solid 1px #B99;
}
.styrelse-medlem {
    display: inline-block;
    vertical-align: top;
    margin: 2em 1em;
}
.styrelse-medlem > div {
    height: 10em;
    width: 10em;
    border-radius: 5em;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.3);
}
.styrelse-medlem > p {
    margin: 0;
    padding: 0;
}
.radio-choice input{
    display:none;
}
.radio-choice input:checked + label .r-btn{
    background-color: #B99;
    transition: background 0.2s ease;
}
#heading{
    display: none;
}
.about_text {
    color:#272727;
}

/**Food**/
h2.food{ background-color: #FCC}
#food-container{ background-color: #FFF; padding: 2em 0; }
#food-container .day{ max-width: 30em; margin: auto; }
#food-container .day .info{ display: inline-block; width: 100%; }
#food-container .day .info span{ float: right }
#food-container .day .info .day{ float: left }
#food-container .day .info .date{ }
#food-container .day .info .month{ margin-right: 1em }
#food-container .day .meals{ display: table; padding-left: 2em; }
#food-container .day .meals .meal{ display: table-row }
#food-container .day .meals .meal span{ display: table-cell }
#food-container .day .meals .meal .name{ }
#food-container .day .meals .meal .description{ }

#ig-container ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
#ig-container .ig-frame-container{
    width: 33%;
    overflow: hidden;
    float: left;
    display: block;
}
#ig-container .ig-frame{
    padding: 1em;
    display: block;
    position: relative;
}
#ig-container .ig-frame img{ max-width: 100% }
#ig-container .ig-frame .ig-info{
    position: absolute;
    bottom: 0;
    padding-right: 1em;
    opacity: 0;
}
#ig-container .ig-frame:hover .ig-info{
    opacity: 1;
}
#ig-container .ig-frame .ig-info .description{}
#ig-container .ig-frame .ig-info .ig-social{ display: none }
#ig-container .ig-frame .ig-info .ig-social .ig-likes{}
#ig-container .ig-frame .ig-info .ig-social .ig-comments{}



@media screen and (max-width:32em), screen and (min-width:98em){
    .card{
        padding: 0;
    }
    .card.post{
        min-width: 20em;
        border-bottom: solid 2px #BBB;
    }
}
@media screen and (min-width:98em){
    #content{
        padding: 0 5em;
    }
    main{
        max-width: 90em;
        margin-top: 1em;
    }
    #heading{
        display: block;
        margin: 0;
        background-color: #FFF;
    }
    
    .card.post{
        float:left;
    }
    #external{
        float: right;
    }
}
@media screen and (max-width:32em){
    .card.post.before-voting{
        border-bottom: none;
    }
}

.card .info .img-container{
    position: relative;
    width: 5em;
    height: 5em;
    border-radius: 5em;
    overflow: hidden;
    margin: 1em;
    float: left;
}
.img-container img{
    height: 100%;
}
.card h2{
    margin: 0;
    padding: 1em 0 0 0;
}
.info span {
    display: block;
}
.info p{
    color: grey;
    font-size: 0.7em;
}
.info p span{
    color: black;
    font-size: 1.5em;
    margin-left: 0.5em;
}
summary{
    padding: 0 1em 1em 1em;
    display: block;
}



html, body{
    margin: 0;
    padding: 0;
}
#side-menu {
    position: fixed;
    margin: 0;
    padding: 0;
    background: #9D1B1B;
    height: 100%;
    font-family: sans-serif;
    text-align: left;
    z-index: 99;
}
/*Styling what ever the logo is. Could be img or txt*/
#side-menu > img:first-child {
    width: inherit;
    height: auto;
    margin-bottom: 0em;
}
#side-menu > ul {
    padding: 0px;
    margin-top: 0;
}
#side-menu > ul > li{
    list-style: none;
}
#side-menu > ul > li > a {
    color: inherit;
    text-decoration: none;
    color: #f0f0f0;
    padding-bottom: 1em;
    margin-bottom: 0em;
    padding-top: 1em;
    padding-left: 3em;
    border-bottom-style: solid;
    border-bottom-color: #8d1616;
    border-width: 1px;
    border-top-color: #b52525;
    border-top-style: solid;
    background-image: url("https://s3.amazonaws.com/media-p.slid.es/uploads/billymeinke/images/71162/icon_gift_white.png");
    background-size: 1em;
    background-repeat: no-repeat;
    display: block;
    background-position: center left 1.2em;
}
#menu {
    font-family: sans-serif;
    height: 3em;
    width: 100%;
    display: none;
    background: #9D1B1B;
    position: fixed;
    text-align: center;
    min-width: 13em;
    z-index: 99;
}
#menu-hamburger {
    height: 1.4em;
    width: 1.5em;
    position: absolute;
    top: 50%;
    margin-left: 0.8em;
    transform: translateY(-50%);
}
#menu-hamburger > div {
    height: 0.2em;
    width: 100%;
    background: #720000;
}
#menu-hamburger > div:nth-child(2){
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
} 
#menu-hamburger > div:nth-child(3){
    position: absolute;
    bottom: 0;
}
#menu > span {
    position: absolute;
    top: 50%;
    color: white;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
}

/***Side-menu style when thin***/
#side-menu{
    display: block;
    width: 5em;
    /*Temporary solution*/
    overflow: hidden;
}
#container{
    margin-left: 5em;
}

/***Side-menu style when wide***/
@media screen and (min-width:54em) and (max-width:98em),screen and (min-width:105em){
    #side-menu{
        display: block;
        width: 13em;
    }
    #container{
        margin-left: 13em;
    }
}

@media screen and (max-width:43em){
    #menu{
        display: block;
    }
    #side-menu{
        display: none;
    }
    #container{
        margin-left: 0;
    }
}


#about_body{
    text-align: center;
}
#about_body > img {
    height: 30em;
}
#styrelsen {
    width: 100%;
    background: rgba(0,0,0,0.07)
}
#styrelsen > div {
    max-width: 50em;
    display: inline-block;
}
#organisation {
    margin-bottom: 2em;
}
#styrelsen > div > h1 {
    font-style: italic;
    font-size: 3em;
    margin-top: 0.5em;
    margin-bottom: 0em;
}
#about_body > #container > .header {
    background: rgba(179, 33, 33, 0.6);
}
@media screen and (min-width:63em){
    #about_body > #container > .header > img {
        width: 50em;
    }
    #about_body > #container > .header {
        height: 25em;
        margin-bottom: 10em;
    }
}
@media screen and (max-width:63em){
    #about_body > #container > .header > img {
        width: 30em;
    }
        #about_body > #container > .header {
        height: 15em;
        margin-bottom: 7em;
    }
}